@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@600&display=swap');

body {
    margin: 0;
    padding: 0;
    background-color: white;
    color: black;
    font-family: Arial, sans-serif;
    font-size: 16px;
    line-height: 1.5;
    padding-top: 50px;
    overflow-x: hidden;

}

html {
    margin: 0;
    padding: 0;
}


/* Bilder nicht markieren und nicht verschieben */
img {
    -webkit-user-drag: none;
    -moz-user-drag: none;
    -ms-user-drag: none;
    user-drag: none;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
} 

/* a nicht markieren und nicht verschieben */
a {
    -webkit-user-drag: none;
    -moz-user-drag: none;
    -ms-user-drag: none;
    user-drag: none;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

/* p nicht markieren */
p {
    margin: 0;
    padding: 0;
    -webkit-user-select: none; /* Safari */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none; /* Standard */
}

/* td nicht markieren */
td {
    margin: 0;
    padding: 0;
    -webkit-user-select: none; /* Safari */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none; /* Standard */
}

/* Text der kopiert werden darf */
.textcopy {
    -webkit-user-select: auto; /* Safari */
    -moz-user-select: auto; /* Firefox */
    -ms-user-select: auto; /* Internet Explorer/Edge */
    user-select: auto; /* Standard */
}


/* Logo */
.logo {
    position: absolute;
    top: 20px;
    left: 20px;
    height: 60px;
}


/* Dark/white mode button */
.wdbutton {
    position: absolute;
    top: 30px;
    right: 20px;
    background-size: cover;
    background-position: center;
    height: 30px;
}


/* Navbar Text und Setting */
.navbartext {
    text-align: center;
}

.navbar {
    font-size: 18px;
    position: absolute;
    margin-top: 35px;
    top: 0;
    left: 0;
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
    text-align: center;
  }
  
.navbar a {
    text-decoration: none;
}

.navbar a:hover {
    color: #717171;
    text-decoration: none;
}


/* Titelbild */
.title-image {
    text-align: center;
    margin-bottom: 50px;
    margin-top: 40px;
    max-width: 100%;
}

.title-image img {
    max-width: 100%;
    height: auto;
}



/* present -> präsentieren div - Drehorte */
.present {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-bottom: 50px;
}

.image-present {
    max-width: 400px;
    margin-bottom: 70px;
  /*margin-right: 10rem;
    margin-left: 10rem;*/
}

.image {
    width: 100%;
    height: auto;
}

.text-present {
    flex-grow: 1;
    display: grid;
    place-items: center;
    font-size: 18px;
    margin-bottom: 0px;
}

.titelpresent {
    font-size: 30px;
    text-align: center;
    margin-top: 0px;
    margin-bottom: 0px;
    -webkit-user-select: auto; /* Safari */
    -moz-user-select: auto; /* Firefox */
    -ms-user-select: auto; /* Internet Explorer/Edge */
    user-select: auto; /* Standard */
}

.untertitelpresent {
    font-size: 18px;
    color: #808080;
    text-align: center;
    margin-top: 0px;
    margin-bottom: 0px;
    -webkit-user-select: auto; /* Safari */
    -moz-user-select: auto; /* Firefox */
    -ms-user-select: auto; /* Internet Explorer/Edge */
    user-select: auto; /* Standard */
}

.fa.fa-map-marker {
    padding-right: 5px;
    color: #808080;
}

.fa.fa-map-marker:hover {
    color: #424242; 
}

.button-present {
    flex-grow: 1;
    text-align: center;
    margin-top: 20px;
}


/* weisser Link */
.link-white {
    color: white;
    text-decoration: none;
}
.link-white:hover {
    color: white;
    text-decoration: none;
}
.link-white:visited {
    color: white;
    text-decoration: none;
}


/* Mitte der Website */
.mittleofpoint {
    display: flex;
    justify-content: center;
    align-items: center;
}


/* Footer */
.footer {
    padding: 0;
    margin: 0;
    position: relative;
    text-align: center;
    min-height: 80px;
    bottom: 0;
    width: 100%;
    background-color: #4f4f4f;
}

.footertext {
    padding-top: 30px;
    color: white;
}



/* Abschnitt für Bilder */
.gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-top: 0px;
    margin-bottom: 0px;
}


/* Bild hochformat */
.himg {
    height: 300px;
    padding-bottom: 50px;
    padding-left: 5px;
    padding-right: 5px;
}

/* Bild querformat */
.qimg {
    height: 300px;
    width: auto;
    padding-bottom: 50px;
    padding-left: 5px;
    padding-right: 5px;
}

/* Bild querformat */
.huni {
    height: auto;
    width: 70%;
    padding-bottom: 50px;
    padding-left: 5px;
    padding-right: 5px;
}

@media screen and (max-width: 600px) {
    .qimg {
        width: 100%;
        height: auto;
    }
    .himg {
        width: 100%;
        height: auto;
    }
    .huni {
        width: 100%;
        height: auto;
    }
}

/* Bildvorschau */
.lightbox {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    z-index: 999;
}

.lightbox img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-width: 90%;
    max-height: 90%;
}


/* normal text */
.normaltext {
    font-size: 16px;
    text-align: center;
    margin-top: 25px;
    margin-bottom: 0px;
    margin-right: 0px;
}


/* übertitel left */
.normaltextleft {
    font-size: 16px;
    text-align: left;
}


/* normal text left */
.utitelleft {
    font-size: 20px;
    font-weight: bold;
    text-align: left;
}


.titelmitte {
    font-size: 40px;
    text-align: center;
    margin-top: 60px;
    margin-bottom: 20px;
    margin-right: 0px; 
}

.titelmitteoma {
    font-size: 40px;
    text-align: center;
    margin-top: 60px;
    margin-bottom: 0px;
    margin-right: 0px; 
}

.titelmittedate {
    color: #b7b7b7;
    font-size: 20px;
    text-align: center;
    margin-top: 0px;
    margin-bottom: 20px;
    margin-right: 0px; 
}

.titelmitteklein {
    font-size: 30px;
    text-align: center;
    margin-top: 50px;
    margin-bottom: 15px;
    margin-right: 0px; 
}


.beschreibung {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}
.left-beschreibung {
    min-height: 300px;
    padding: 30px;
    overflow: hidden;
    width: 700px;
}
.right-beschreibung {
    min-height: 300px;
    padding: 30px;
    overflow: hidden;
    width: 300px;
}
@media screen and (max-width: 700px) {
    .left-beschreibung {
        width: 100%;
    }
    .right-beschreibung {
        width: 100%;
    }
}

.spects {
    margin-bottom: 15px;
}


.sponsoren {
    display: flex;
    align-items: center;
    justify-content: center;
}
@media (max-width: 950px) {
    .sponsoren {
    flex-direction: column;
    }
}

.sponsoren-img {
    width: 200px;
    padding: 30px;
    transition: all .3s ease-in-out;
}

.sponsoren-img:hover {
    transform: scale(1.15);
}




.filmdiv > #comingSoonDiv {

}

.filmdiv > #cursorDiv {
    color: #b7b7b7;
}

.titelbilddiv {
    text-align: center;
    padding-top: 20px;
}
.titelbildimg {
    width: 400px;
    transition: all .3s ease-in-out;
}
.titelbildimg:hover {
    transform: scale(1.05);
}

@media screen and (max-width: 500px) {
    .titelbildimg {
        width: 100%;
    }
}

.premierediv {
    text-align: center;
}

.dark-mode {
    background-color: rgb(20, 20, 20);
    color: white;
}

.invertlogo {
    filter: invert(1);
}

.schauspieler {
    display: flex;
    align-items: center;
    justify-content: center;

}

.schauspielertextleft {
    text-align: right;
    font-weight: bold;
    padding-right: 8px;
}

.schauspielertextright {
    text-align: left;
    padding-left: 8px;
}

.schauspielertextcenter {
    text-align: center;
}

.drehorte-img {
    transition: all .3s ease-in-out;
}

.drehorte-img:hover {
    transform: scale(1.13);
}

.ytlogodiv {
    text-align: center;
    padding-top: 30px;
    margin-bottom: 70px;
}

.ytlogoimg {
    width: 70px;
    transition: all .3s ease-in-out;
}
.ytlogoimg:hover {
    transform: scale(1.15);
}